
:root {
    background-color: #191a1b;
}


.classProp{
    font-size: 2rem;
}

p{
    font-size : 1.5rem;
}

.time{
    color :rgb(62, 127, 241);
}

a{
    color:#4093f2
}

html, body, input, textarea, select, button {
    border-color : #766d5f;
    background-color : #191a1b;
    color : white;
}

